.text {
	font-family: 'PT Mono', monospace;
	font-size: 18px;
	margin-bottom: 35px;
	
	.line {
	    height: 1.5em;
	    margin-bottom: 1px;
	}

	.done {
		color: #D9D9D9;
	}

	.hint {
		background-color: #FFF000;
	} 

	&.error {
		color: #FF0000;
	}
}
